wcf/WithTransactionTutorial/WcfClient/WcfClient/Connected Services/ServiceReference1/PersonServiceContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonServiceContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPersonServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IPersonServiceContract_Insert_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsat:ATAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IPersonServiceContract_Update_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsat:ATAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Models" />
      <xsd:import schemaLocation="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Models.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonServiceContract_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IPersonServiceContract_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonServiceContract_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPersonServiceContract_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonServiceContract_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPersonServiceContract_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonServiceContract">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonServiceContract/Insert" message="tns:IPersonServiceContract_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonServiceContract/InsertResponse" message="tns:IPersonServiceContract_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonServiceContract/Update" message="tns:IPersonServiceContract_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonServiceContract/UpdateResponse" message="tns:IPersonServiceContract_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonServiceContract/GetAll" message="tns:IPersonServiceContract_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonServiceContract/GetAllResponse" message="tns:IPersonServiceContract_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPersonServiceContract" type="tns:IPersonServiceContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IPersonServiceContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <wsp:PolicyReference URI="#WSHttpBinding_IPersonServiceContract_Insert_policy" />
      <soap12:operation soapAction="http://tempuri.org/IPersonServiceContract/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsp:PolicyReference URI="#WSHttpBinding_IPersonServiceContract_Update_policy" />
      <soap12:operation soapAction="http://tempuri.org/IPersonServiceContract/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IPersonServiceContract/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonServiceContract">
    <wsdl:port name="WSHttpBinding_IPersonServiceContract" binding="tns:WSHttpBinding_IPersonServiceContract">
      <soap12:address location="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>