wcf/PersonalInfomationWebService/PersonalInfoClient/PersonalInfoClient/Connected Services/PersonalInforamtionServiceReference/PersonalInforamtionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50791/ServiceImplementations/PersonalInforamtionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonalInfomationWebService.Models.Responses" />
  <xs:import schemaLocation="http://localhost:50791/ServiceImplementations/PersonalInforamtionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PersonalInfomationWebService.Models.Requests" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PersonalInfomationWebService.Models.Responses" minOccurs="0" name="GetAllResult" nillable="true" type="q1:PeopleCollectionModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PersonalInfomationWebService.Models.Requests" minOccurs="0" name="model" nillable="true" type="q2:PersonModelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PersonalInfomationWebService.Models.Responses" minOccurs="0" name="GetResult" nillable="true" type="q3:PersonModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>